springTest/src/main/resources/META-INF/spring-user.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.example.org/schema/user"
	xmlns="http://www.example.org/schema/user"
	elementFormDefault="qualified">
	<xsd:element name="user">
        <xsd:complexType>
			<xsd:attribute name="id" type="xsd:string"></xsd:attribute>
			<xsd:attribute name="userName" type="xsd:string"></xsd:attribute>
			<xsd:attribute name="email" type="xsd:string"></xsd:attribute>
		</xsd:complexType>
    </xsd:element>
</xsd:schema>